{{define "footer"}}
<footer>
  <div class="footer-content">
    <p>Developed by
      <a href="https://www.linkedin.com/in/nurkhat-sergaziyev-4279ba2b0/" target="_blank" class="footer-link">
        nsergaziy <img src="/static/img/otter.png" alt="icon" class="footer-icon">
      </a> and
      <a href="https://www.linkedin.com/in/dayana-rakhmatullina-66b3652a4/" target="_blank" class="footer-link">
        drakhmat <img src="/static/img/bow.png" alt="icon" class="footer-icon">
      </a>
    </p>
  </div>
</footer>
{{end}}
