<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

{{template "header" .}}

<main>
    <div class="main-container">
        {{template "left_sidebar.html" .}}

        <div class="container main-content">
            <div class="post-list">
                {{if .Posts}}
                {{range .Posts}}
                <div class="post-item">
                    <div class="post-meta">
                        <span class="post-author">By {{.Username}}</span>
                        <span class="post-date">{{.Created.Format "02 Jan 2006 at 15:04"}}</span>
                    </div>

                    <div class="post-title">
                        <a href="/post/{{.ID}}" class="post-link">{{.Title}}</a>
                    </div>

                    <div class="post-content">
                        <pre class="content-preview">{{.Content}}</pre>
                    </div>

                    {{if $.FilterComments}}
                    <div class="user-comments">
                        <h4>My Comments</h4>
                        {{range .UserComments}}
                        <div class="comment">
                            <span>{{.Created.Format "02 Jan 2006 at 15:04"}}:</span>
                            <pre class="content-preserve">{{.Content}}</pre>
                        </div>
                        {{end}}
                    </div>
                    {{end}}

                    <div class="post-footer">
                        <div class="post-categories">
                            {{range .Categories}}
                            <span class="category">{{.}}</span>
                            {{end}}
                        </div>

                        <div class="post-votes">
                            <button onclick="toggleVote('{{.ID}}', 1)"
                                    class="vote-button like-button {{if eq .UserVote 1}}active{{end}}">
                                <img src="/static/img/like.png" alt="Like"> {{.Likes}}
                            </button>
                            <button onclick="toggleVote('{{.ID}}', -1)"
                                    class="vote-button dislike-button {{if eq .UserVote -1}}active{{end}}">
                                <img src="/static/img/dislike.png" alt="Dislike"> {{.Dislikes}}
                            </button>

                            <button onclick="window.location.href='/post/{{.ID}}';"
                                    class="vote-button comment-button {{if .UserCommented}}active{{end}}">
                                <img src="/static/img/comment.png" alt="Comments"> {{.CommentCount}}
                            </button>
                        </div>
                    </div>
                </div>
                {{end}}
                {{else}}
                <p>There's nothing to see here... yet!</p>
                {{end}}
            </div>
            <div class="separator-line"></div>

        </div>


        {{template "right_sidebar.html" .}}
    </div>
</main>
{{template "footer" .}}

<script src="/static/js/main.js"></script>
</body>
</html>